@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

body{
  color: #393939;
  overflow: hidden;
}

.green-txt{color: #8E7F56;}
.blue-txt{ color:rgb(80,168,189);}
.black-txt{color: #393939; }
.dark-red-txt{ color: #912B0E; }



.akanNameStyle{
    color: #8E7F56;
    font-size: 1em;
    font-family: 'Palette Mosaic', cursive;
}

h1{
    font-family: 'Palette Mosaic', cursive;
    font-size: 5em;
  
}


.full-width{
    height: 100vh;
    width: 100vw;

}


form input{
    width: 1em;
    height: 1em;
    

}


.spacer{

    margin-top: 5%;
}

form .input-border{
    
    border: 4px solid  #912B0E;
    border-radius: 10px; 
    width: 40%;
    padding: 1em;
}


.nav{
    height: 7em;
    background-size: 180px;
    background-image: url("../images/coloredfolksbg.jpg");
    background-repeat: repeat-x;
    /* background-repeat: ; */
}


.gender{
   
    border: solid 2px #912B0E;
    border-right: none;
    border-radius: 1em 0 0 1em;
    padding: 2em;


}


.dob{
  
    border: solid 2px #912B0E;
    border-left: none;
    padding: 2em;
    border-radius: 0 1em 1em 0;
    
}



.btn-primary{
    background-color: #912B0E;
    padding: 3em;   
    border-radius: 1em;   
    border: none;
    font-weight: bold; 

}

.btn-primary:hover{
    background-color: #8E7F56;
}

main{
    text-align:center;
    padding-top: 5%;
}

.shadow{
    box-shadow: -2px 15px 19px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 15px 19px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 15px 19px -8px rgba(0,0,0,0.75);
}

input[type="radio"]{ margin-right: 1em;}

input[type="date"]{

    margin-left: 0 auto;
    width: 200px;
    padding: 1em;
    border: none;

}


.sex-icon label{
    margin-bottom: 1em;
}

span.input-label{

    color: #58B6CA;
    text-transform: uppercase;

    
}


span.input-label::after{
    content: "|";
}